.select {
  appearance: none;
  background-image: none;
}

.select::-ms-expand {
  display: none;
}

.select:focus {
  outline: none;
}

.loading {
  position: relative;
  cursor: wait;
}

.loading::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: inherit;
} 